@import '../src/variables';

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  position: fixed;
  width: 1440px;
  height: 80px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: #DDD7D1;
}

body {
  display: grid;
  background-color: #FFFFFF;
  color: $font-first-color;
  font-family: $main-font;
  width: 1440px;
  margin: 0 auto;
}

footer {
  width: 1440px;
  padding-top: 96px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: $font-first-color;
}